body{
    font-family: 'Inter', sans-serif;
}
.first-heading{
    font-size: 40px;
    font-style: italic;
    text-align: center;
}
.name-header{
    font-size: 30px;
    color:crimson;
}
#name{
    font-size:large;
    font-weight: bolder;
    color: black;
}
p{
    text-align: justify;
    
}