body{
    font-family: 'Inter', sans-serif;
}
p {
    text-align: justify;
}
/* header style */
.first-heading{
    font-size: 40px;
    font-style: italic;
    text-align: center;
}
.name-header{
    font-size: 30px;
    color:crimson;
}
#name{
    font-size:large;
    font-weight: bolder;
    color: black;
}

.intro-para{
    font-size: 16px;
    
}
.info-click{
    font-size: 22px;
    text-decoration: none;
    background-image: linear-gradient(tomato, cyan);
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}
/* header style */